<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="LogBasePath" value="c:\Sep-SSP" />
    <add key="logPermission" value="1" />
    <add key="MinimumAmount" value="1" />
    <add key="LogPath" value="D:\Log\\" />
    <add key="Pan_0" value="109-129-81-82-123-53-119-235-147-204-75-56-204-57-131-66" />
    <add key="Pan_0" value="109-129-81-82-123-53-119-235-136-114-43-170-12-74-226-174" />
    <add key="Pan_0" value="109-129-81-82-123-53-119-235-196-7-152-7-72-108-106-232" />
    <!--
    <add key="ShebaSetting" value="189-63-201-152-86-82-211-62-174-74-237-231-80-222-67-239"/>
    <add key="Sheba_0" value="248-23-32-151-216-237-146-195-95-149-60-74-248-223-216-245-255-130-115-137-217-15-7-58-217-240-120-206-32-230-239-159"/>
    <add key="Sheba_1" value="16-108-246-195-148-166-229-98-57-148-116-221-100-51-1-185-15-251-21-248-29-216-213-183-14-192-22-14-57-5-31-8"/>
    <add key="Sheba_2" value="136-146-212-217-173-80-149-41-50-152-5-53-78-87-109-62-122-253-166-200-156-157-122-207-254-251-206-179-44-57-113-72"/>
    <add key="Sheba_3" value="20-36-74-210-115-233-119-14-180-1-26-177-166-47-4-166-200-85-102-207-29-49-224-96-14-192-22-14-57-5-31-8"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>